@use "../abstracts/" as *;

.navigation {
  width: 50vw;
  margin: 0 auto 0 auto;

  @include respond(phone) {
    width: 100%;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-left: 50vw;
    top: -4.8rem;
    text-align: center;
    max-width: 100vh;

    @include respond(phone) {
      margin-left: 85vw;
    }
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
