@use "../abstracts/" as *;
@use "animations" as *;

body {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: $color-black;
}

.navigation-heading {
  font-size: $default-font-size;
  font-weight: 600;

  .dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: #ff0f13;
    border-radius: 50%;
    display: inline-block;
  }
}

.heading-primary {
  font-size: 4rem;
  border-radius: 3px;
  max-width: fit-content;
  white-space: nowrap;
  span {
    color: #ff0f13;
  }
}
.paragraph {
  border-radius: 3px;
  max-width: fit-content;
  white-space: nowrap;
  font-size: $default-font-size;
}
