@use "../abstracts/" as *;

.blog__post {
  width: 50vw;
  margin: 10rem auto 0 auto;

  @include respond(phone) {
    width: 100%;
  }
  &--photo--1 {
    height: 50%;
    width: 50%;
  }

  &--photo--2 {
    height: 100%;
    width: 100%;
  }
}
