@use "../abstracts/" as *;

.about {
  width: 50vw;
  margin: 0 auto 0 auto;

  @include respond(phone) {
    width: 100%;
  }
}

.blog {
  position: relative;
  background-color: $color-grey-light-1;
  padding: 5rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 5rem 0 15rem 0;
  }
}

.blog__post {
  width: 50vw;
  margin: 0 auto 0 auto;

  @include respond(phone) {
    width: 100%;
  }
}

.footer {
  position: relative;
  padding: 5rem 0 10rem 0;
  //   margin-top: -10rem;
  background-color: $color-black;
  color: $color-white;

  @include respond(tab-port) {
    max-width: 100%;
  }
}
